@media (max-width: 1000px) {

}
body {
  background-color: #d6e3f8;
}
nav {
  background-color: #584b53 !important;
  height: 8vh !important;
  padding-top: 1vh !important;
}
nav a {
  color: #e4bb97 !important;
}
.banner {
  background-color: #fef5ef;
  height: 600px;
  text-align: center;
  padding: 5% 10% 5% 10%;
}
.quote {
  font-size: 20px;
}
#subscribeForm {
  margin-top: 5%;
}
#post {
  border: 1.5px solid #fef5ef !important;
}
h1 {
  text-align: center;
}
#blogsContainer {
  margin: 6vh;
}
.user-img {
  width: 2cm !important;
  height: 2cm !important;
  border-radius: 50% !important;
}
#userComment {
  margin-bottom: 2rem !important;
}

